<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_06_Operators Part 1.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Annual Salary (1.6.1)

In [2]:
# Code Needed
monthly_salary = 8000
annual_salary = monthly_salary * 12

annual_salary

96000

---

## ðŸŸ© Compare Salaries (1.6.2)

In [12]:
# Code Needed
avg_salary_analyst = 70000
avg_salary_scientist = 85000


# Code Needed
avg_salary_analyst = 70000
avg_salary_scientist = 85000


avg_salary_analyst == avg_salary_scientist

if avg_salary_scientist > avg_salary_analyst:
  print("salary is greater")

salary is greater

---

## ðŸŸ¨ Calculate Remainder (1.6.3)

In [15]:
# Code Needed
total_applications = 123
job_openings = 67

print("remainder is", total_applications % job_openings)

remainder is 56

---

## ðŸŸ¨ Increment Job Postings (1.6.4)

In [16]:
# Code Needed
job_postings = 20

job_postings += 5

job_postings

25

---

## ðŸŸ¨ Calculate Average Salary (1.6.5)

In [18]:
# Code Needed
min_salary = 50000
max_salary = 120000

avg_salary = (min_salary + max_salary) / 2

avg_salary

85000.0

---